* {
    padding: 0;
    margin: 0;
}

body {
    background: #dedede;
}

header {
    height: 100vh;
}

.circle {
    background: lightblue;
    border-radius: 50%;
    position: absolute;
    transition: all .5s linear;
}

.ng-enter-setup {
    transition:all linear 1s;
    opacity: 1;
}
.ng-enter-start {
    left: 0;
    opacity: 0;
}