* {
    padding: 0;
    margin: 0;
}

body {
    background: #151515;
    font-family: Tahoma, sans-serif;
}

.wrapper {
    width: 800px;
    height: 440px;
    margin: 50px auto;
    box-shadow: 0 0 14px rgba(0,0,0,.8);
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
}

.controls {
    background: rgba(0,0,0,.3);
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -38px;
    transition: bottom .25s ease;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background-color: rgba(0,0,0,0);
    top: 0;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

input[type=range]:focus {
    outline: 0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: red;
    width: 2px;
    height: 2px;
    transition: all .2s ease;
}

.controls:hover input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 6px;
    height: 6px;
}

.controls #line-bar {
    position: absolute;
    height: 5px;
    top: -2px;
    cursor: pointer;
    width: 100%;
}

.controls #line-bar #redline {
    min-width: 1px;
    float: left;
    background: red;
    z-index: 2;
    height: 2px;
    position: absolute;
}

.controls #line-bar #bg-bar {
    background: #777;
    height: 2px;
    width: 100%;
    position: absolute;
}

.navigation {
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    color: #dedede;
    padding: 10px 15px;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
}

.wrapper:hover .controls {
    bottom: 0;
}

.wrapper #time {
    font-size: 14px;
    cursor: default;
}